---
layout: layouts/base.njk
---

<a href="https://www.zerohedge.com" class="news">NOAA issues La Niña Watch — ZeroHedge</a>
<a href="https://www.libsoftiktok.com" class="editorial">Libs of TikTok Post</a>
<a href="https://www.espn.com" class="sports">ESPN Headline</a>
<a href="https://www.nationalgeographic.com" class="culture">Travel / Culture / Arts</a>
<a href="https://www.nature.com" class="longform">Science / Health Longform</a>
<a href="https://theonion.com" class="funny">Funny / Satire</a>
