---
layout: layouts/base.njk
title: Archive
---

<h1>Archive</h1>

<ul>
  {% for page in collections.all | reverse %}
    <li><a href="{{ page.url }}">{{ page.data.title or page.url }}</a></li>
  {% endfor %}
</ul>
